@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article,aside, details, 
text{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul {list-style: none; }
*{box-sizing: border-box;}
a {text-decoration: none; color: #333;}
i {font-style: normal; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ""; content: none;}
table {border-collapse: collapse; border-spacing: 0; }
html, body {position: relative; width: 100%; height: 100vh; overflow-x: hidden;}
body {font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-size: 12px; font-weight: 300; line-height: 1.2rem; letter-spacing: -0.5px; width: 100%; min-width: 36rem; overflow-x: hidden; margin: 0 auto;}
.swiper-backface-hidden .swiper-slide, .swiper-slide{width:100vw; height: 100vh; overflow: hidden;}
button{background: none; padding: 0; margin: 0; border: none; outline: none;}
/* 말줄임 */
.ellipsis{display:inline-block;overflow:hidden;max-width:100%;text-overflow:ellipsis;word-break:keep-all;word-wrap:break-word;white-space:nowrap;vertical-align:middle;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto}
.line_cut2,.line_cut3{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;word-wrap:break-word;-webkit-line-clamp:2}
.line_cut3{-webkit-line-clamp:3}

/* link */
a:link,a:visited{color:#333; text-decoration:none}
a:active,a:hover,a:focus{text-decoration:none}

/* Skip Navigation */
#u_skip{position:absolute;top:0;left:0;z-index:50;width:100%;height:0}
#u_skip a{display:block;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-weight:normal;color:#fff;text-align:center;white-space:nowrap}
#u_skip a:focus,#u_skip a:active{z-index:10;width:100%;height:auto;padding:10px 0;color:#fff}

/* font */
@font-face { font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src:url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");font-weight: 400; font-style: normal; unicode-range: U+AC00-D7A3, U+0030-0039;}
@font-face{font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src:url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"); unicode-range: U+26,U+0061-007A,U+0041-005A;}
@font-face { font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src:url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");unicode-range: U+26,U+0061-007A,U+0041-005A;}
@font-face { font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src:url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");unicode-range: U+26,U+0061-007A,U+0041-005A;}
@font-face { font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  src:url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"); unicode-range: U+26,U+0061-007A,U+0041-005A;}

/* header */
.header{right: 0; opacity: 1; visibility: visible;}
.header.open{display: block; opacity: 0; visibility: hidden; right: -100%; top: 0; position: fixed; width: 100%; height: 100%; transition: all .3s;}
.header .logo {position: fixed; top: 40px; left: 20px; z-index: 9; }
.header .logo a {color: #fff; display: block; font-size: 16px; text-align: center; }
.header .logo.open a{color: #000;}
.menu_btn {position: fixed; top: 40px; right: 20px; z-index: 9; cursor: pointer;}
.menu_btn span{ background: #fff; display: block; width: 40px; height: 2px; margin: 5px 0;}
.menu_btn span:nth-child(2) { width: 20px; float: right; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: relative;}
.menu_btn span:nth-child(2):after {content: "MENU"; display: block; position: absolute; bottom: -10px; right: 0; color: #fff; opacity: 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.menu_btn.open {z-index:30; width: 30px; height: 30px; top: 20px; right: 20px; margin-left: -25px; transition: .3s ease-in-out;}
.menu_btn.open span:first-child { display: block; position: absolute; height: 2px; width: 100%; background: #000; opacity: 1; transform: rotate(135deg); top: 20px; left: 0; z-index: 2; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.menu_btn.open span:last-child { display: block; position: absolute; height: 2px; width: 100%; background: #000; opacity: 1; transform: rotate(-135deg); top: 20px; left: 0; z-index: 2; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
.menu_btn.open span:last-child:after { opacity: 0;}
.aside{position: fixed; width: 100%; min-width: 360px; right: -100%; top: 0;  background: rgba(255,255,255,.85);  z-index: 3; transition: all .6s; font-weight: 400;-webkit-font-smoothing: antialiased; padding:100px 0 0 0; margin: 0 auto; -moz-osx-font-smoothing: grayscale; visibility: hidden;  height: 100vh;  overflow: hidden;}
.aside.open{right: 0; visibility: visible; overflow: visible;overflow-y: scroll;}
.aside nav{position: relative;}
.aside nav .nav_inner {margin: 0 auto; width:100%; position: absolute; left: 20px; top:0; z-index: 3;}
.aside nav .nav_inner li{padding: 7.5px 0; width: calc(100% - 4rem);  margin: 0 auto;}
.aside nav .nav_inner li:last-child{padding: 0;}
.aside nav .nav_inner>li>a { display: block; width: 100%; display: flex; justify-content: space-between; padding: 10px 0;  font-size: 30px; color: #000; font-weight: 500; text-align: left; position: relative; overflow: hidden;}
.aside nav .nav_inner>li .sub_menu{ width: 100%; height: 0;  overflow: hidden;}

.aside nav .nav_inner>li .sub_menu ul li>a{ display:inline-block; font-size: 18px; line-height: 1.6rem; font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;  font-weight: 300; }
.aside nav .nav_inner>li a.selected .arrow::after{transform: rotate(315deg);}

.aside::-webkit-scrollbar { width: 5px; } 
.aside::-webkit-scrollbar-thumb { background: #333; border-radius: 10px; } 
.aside::-webkit-scrollbar-track { background:  rgba(255,255,255,.85); border-radius: 10px; box-shadow: inset 0px 0px 5px white; }
.arrow{position: relative;}
.arrow::after { content: "";display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 10px; height: 10px;border-top: 1px solid #000; border-right: 1px solid #000;transform: rotate(135deg);}
.dimed{position: fixed; width: 100%; height: 100%;  top: 0; right: -100%; background: rgba(0, 0, 0, 0.7); z-index: 2;}

/* MAIN */
/* .main_area {width: 100%; height: 100vh; overflow: hidden;} */

/**swiper_reset**/ 
.main_area .swiper-pagination.swiper-pagination-fraction.swiper-pagination-vertical,
.main_area>.swiper-horizontal>.swiper-pagination-bullets, .main_area>.swiper-pagination-bullets.swiper-pagination-horizontal, .main_area>.swiper-pagination-custom, .main_area>.swiper-pagination-fraction, .main_area .swiper-pagination-current, .main_area .swiper-pagination-total, .main_area .page_control{color: #fff;}
.main_area>.swiper-container{ width: 100%; height: 100vh; position: fixed; top:0; right: 0; bottom: 0; left: 0;  z-index: 1;overflow-x: hidden; }
.main_area>.swiper-container>.swiper-wrapper{ height: 100vh; width: 100%;}
.main_area>.swiper-container>.swiper-wrapper>.swiper-slide,
.main_area>.swiper-container>.swiper-wrapper>.swiper-slide-active{z-index: 1;  position: relative; font-size: 18px; color:#fff; background: #000;/* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center;overflow: hidden; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; width: 100%; height: 100vh; overflow: hidden;}
.main_area .swiper-slide .bg {-webkit-transform: scale(1.1) rotate(1deg); -moz-transform: scale(1.1) rotate(2deg); -ms-transform: scale(1.1) rotate(2deg); -o-transform: scale(1.1) rotate(2deg); transform: scale(1.1) rotate(2deg); -webkit-transition: all 1ms ease 1ms; -moz-transition: all 1s ease 0.1s; -o-transition: all 1ms ease 1ms; -ms-transition: all 1ms ease 1ms; transition: all 1ms ease 1ms; opacity: 1; background-position: center; background-size: cover; position: absolute; top: 0;left: 0; width: 100%; height: 100vh;}

/**active_eff*/
.main_area .swiper-slide.swiper-slide-active .bg { -webkit-transform: scale(1) rotate(0deg); -moz-transform: scale(1) rotate(0deg); -ms-transform: scale(1) rotate(0deg); -o-transform: scale(1) rotate(0deg); transform: scale(1) rotate(0deg); opacity: 1;}
/**cafe24**/
.main_area .section03 .bg { background:rgba(0, 0, 0, 0.8);}

/**btn_eff_*/
.main_area .btn01 {display: inline-block; margin-top: 20px; min-width: 175px; padding: 19px 0; position: relative; font-size: 12px; font-weight: 700; line-height: 1; text-align: center; border: 2px solid transparent; border-radius: 5px; background: transparent; -webkit-transition: color 300ms,background 300ms, border 300ms; transition: color 300ms,background 300ms, border 300ms; }
.main_area .btn01.last{background: #595959; color: #fff;}
.main_area .btn01 span {position: relative; letter-spacing: 0.5px; font-size: 14px; font-weight:400; }

/* border style */ 
.main_area .btn01 {flex-shrink: 0; text-decoration: none; background: #fff; border-radius: 40px; color: #000; display: inline-block; padding: 0 30px; height: 51px; line-height: 49px; font-weight: 600; letter-spacing: -.036em; font-size: inherit; transition: .3s background ,.3s color, .3s border, .3s opacity; -webkit-animation: move 2.5s infinite; animation: move 2.5s infinite; }
@keyframes move {
  0% {
transform: rotate(0deg) }
20% {
transform: rotate(2deg) }
24% {
transform: rotate(-2deg) }
28% {
transform: rotate(2deg) }
32% {
transform: rotate(-2deg) }
36% {
transform: rotate(0deg) }
}

@-webkit-keyframes move {
  0% {
transform: rotate(0deg) }
20% {
transform: rotate(2deg) }
24% {
transform: rotate(-2deg) }
28% {
transform: rotate(2deg) }
32% {
transform: rotate(-2deg) }
36% {
transform: rotate(0deg) }
}
.main_area .btn01:hover {font-weight:700; color: hsl(0, 0%, 0%);}

/* 영역별 배경 */
.main_area .section02 .bg { background:url(../img/wooalong_l.png) no-repeat 0 0 / cover;}

/**cafe24**/
/* .main_area .section03{position: relative; width: 100%; height: 100vh;}  */

.main_area .section03 .main_intro_wrap{width: 100%; top: 50%; transform: translateY(-50%); justify-content: center; flex-direction: column; align-items: center; display: flex; margin: 0 auto; position: absolute; left: 0;  height:100%;}
.main_area .section03 .main_intro_wrap .txt01{ display: block; color: #fff; width: 100%; margin: 0 auto 60px; text-align: center; font-size: 18px; }
.cafe24_responsive_box{overflow: hidden; width: 100%; position: relative;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24{margin: 0 auto; width: 100%; height: 100%; display: flex; padding-bottom: 100px; position: relative; }
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper{display: flex; align-items: center; margin: 0 auto;  flex-direction: row; width: 100%; height: 50vh;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide>div{position: relative; width: 100%; height: 100%;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .information{display: flex; flex-direction: column; justify-content: center; width: 100%; position:absolute; left: 0; top: 0;  z-index: 1; opacity: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); transition: all .3s; visibility: hidden;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .txt02{display: block; width:100%;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .txt02 strong{display: block; font-size: 23px; font-weight: 700; color: #fff; width: 100%; text-align: center;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide p{width: 100%; display: block; font-size: 15px; line-height: 1.5; margin: 10px auto; text-align: center;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .information .cafe24_button {margin: 0 auto;}
.cafe24_button a{display:inline-block; color: #fff; position: relative; margin: 0 auto 20px; padding: 0 0 10px 0;}
.cafe24_button a span{ margin: 3rem auto 0;  pointer-events: all; display: block; font-size: .688em;  line-height: .909em; }
/* .cafe24_button a::after{content: '';  display: inline-block;  position: absolute; left: 0; bottom: 0; height: 1px; width: 100%; -webkit-transition: bottom .5s; transition: bottom .5s; background: #fff;} */
.txt02{margin: 0 auto;}
.bg-1 {
  background: #ECEFF1;
  color: #1d1d1d;
}
/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
  color: #fff;
  border-color:#ECEFF1;
  line-height: 1.5;
  font-size: 13px;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}
.button--tamaya {
  overflow: hidden;
  color: #fff;
}
.button--tamaya.button--inverted {
  color: #fff;
  border-color: #ECEFF1;
}
.button--tamaya::before,
.button--tamaya::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #DE51A3;
  color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
  transition-timing-function: cubic-bezier(0.1, 1, 0.1, 1);
}
.button--tamaya.button--inverted::before,
.button--tamaya.button--inverted::after {
  background:#ECEFF1;
  color: #fff;
}
.button--tamaya::before {
  top: 0;
  padding-top: 1em;
}
.button--tamaya::after {
  bottom: 0;
  line-height: 0;
}
.button--tamaya > span {
  display: block; color: #fff;
  -webkit-transform: scale3d(0.2, 0.2, 1);
  transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--antiman.button--border-thick::before {
  border-width: 1px;
}

.button {
  float: left;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.main_area .section03 .main_intro_wrap .mySwiper.cafe24 .swiper-wrapper .swiper-slide .information .cafe24_button span{background:#fff; color:#2d2d2d; display: inline-block; text-align: center; font-size: 12px; letter-spacing: 0.5px; font-weight: 400; max-width: 150px; padding:10px; box-sizing: border-box; width: 100%;font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;  margin: 0 auto; border-color: transparent;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .one{ background: url(../img/cafe24_img01.png) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .two{ background: url(../img/lelabo.jpg) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .three{ background: url(../img/cafe24_img03.png) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .four{background: url(../img/cafe24_img04.png) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .five{background: url(../img/cafe24_img05.png) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .eight{background: url(../img/cafe24_img08.png) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .nine{background: url(../img/cafe24_img09.png) no-repeat 100% center/cover;}
.main_area .swiper-slide.section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .ten{background: url(../img/keds_bg.jpg) no-repeat 100% center/cover;}
.swiper-pagination-bullet, .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{display: inline-block;}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets{bottom: 0; top: unset;}
.main_area .section05 .bg { background:url(../img/t2.jpg) no-repeat 100% center/cover;}
.main_area .section06 .bg { background:url(../img/fila_bg.jpg) no-repeat 0 0 / cover; background-position: center;}
.main_area .section07 .bg {background:url(../img/mainArea4.jpg) no-repeat 100% center/cover;}
.main_area .section09 .bg {background:url(../img/hedn.png) no-repeat 100% center/cover;}

/**common_con*/
.main_area .swiper-container .swiper-wrapper .swiper-slide .main_intro {z-index: 9; color: #fff; text-align: center; position: absolute; top: 50%; transform: translate(-50%,-50%); left: 50%; width: 100%;}
.main_area .swiper-container .swiper-wrapper .swiper-slide.main_intro .txt01 { font-size: 18px; display: block; transform: translate3d(-2 9px, 10px, 10px); -webkit-transition: all 0.4s ease-in-out 0.1s; -moz-transition: all 0.4s ease-in-out 0.1s; -o-transition: all 0.4s ease-in-out 0.1s; -ms-transition: all 0.4s ease-in-out 0.1s; transition: all 0.4s ease-in-out 0.1s;}
.main_area .swiper-container .swiper-wrapper .swiper-slide .main_intro .txt01 span {font-weight: 700; transform: translate3d(-29px, 32px, 10px); display:inline-block;}
.main_area .swiper-container .swiper-wrapper .swiper-slide .main_intro .txt02 strong{font-size: 50px; display: block; line-height: 1.6; font-weight: 700; padding: 30px 0; -webkit-transition: all 2s ease-in-out .5s; -moz-transition: all 2s ease-in-out .5s; -o-transition: all 2s ease-in-out .5s; -ms-transition: all 2s ease-in-out .5s; transition: all 2s ease-in-out .5s;}
.main_area .swiper-container .swiper-wrapper .swiper-slide .main_intro .date { font-size: 18px;line-height: 1.7;color: #fff;font-weight: 300; padding-bottom: 20px;transform: translate3d(-29px, 32px, 10px); -webkit-transition: all 1s ease-in-out 0.1s;-moz-transition: all 1s ease-in-out 0.5s; -o-transition: all 1s ease-in-out 0.5s; -ms-transition: all 1s ease-in-out 0.5s;transition: all 1s ease-in-out 0.5s;;}
/* btn */
.main_area .btn_wrap {transform: translate3d(-29px, 32px, 10px); -webkit-transition: all 1.2s ease-in-out 0.4s; -moz-transition: all 1.2s ease-in-out 0.4s; -o-transition: all 1.2s ease-in-out 0.4s; -ms-transition: all 1.2s ease-in-out 0.4s; transition: all 1.2s ease-in-out 0.4s;}
.main_area .swiper-slide .bg_opac{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 1; background: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.9) 100%); -webkit-transition: all 2s ease 0.1s; -moz-transition: all 2s ease 0.1s; -o-transition: all 2s ease 0.1s; -ms-transition: all 2s ease 0.1s; transition: all 2s ease 0.1s; }
.main_area .prev_btn {position: fixed; letter-spacing: 1px;}
.main_area .prev_btn:before { content: ""; display: block; width: 0; height: 1px; position: absolute; bottom: -5px; left: 0; background: #fff; -webkit-transition: all .5s ease 0.1s; -moz-transition: all .5s ease 0.1s; -o-transition: all .5s ease 0.1s; -ms-transition: all .5s ease 0.1s; transition: all .5s ease 0.1s; }

.main_area .next_btn {position: relative; letter-spacing: 1px; }
.main_area .next_btn:before { content: ""; display: block; width: 0; height: 1px; position: absolute; bottom: -5px; right: 0; background: #fff; -webkit-transition: all .5s ease 0.1s; -moz-transition: all .5s ease 0.1s; -o-transition: all .5s ease 0.1s; -ms-transition: all .5s ease 0.1s; transition: all .5s ease 0.1s; }

/*active_AFTER*/ 
.main_area .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .main_intro .txt01 { transform: translate3d(-29px, 32px, 10px);}
.main_area .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .main_intro .txt02 { transform: translate3d(5px, 32px, 10px); }
.main_area .swiper-container .swiper-wrapper .swiper-slide .main_intro .txt03{ margin-bottom: 3rem; opacity: 0; transition: all .3s;  transition: all 1s ease-in-out 0.1s;font-size: 18px; line-height: 1.7; color: #fff; font-weight: 300; padding-bottom: 20px;}
.main_area .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .main_intro .txt03{opacity: 1;transform: translate3d(5px, 32px, 10px); }
.main_area .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .main_intro .date{ transform: translate3d(10px, 10px, 10px); }
.main_area .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .main_intro .btn_wrap { transform: translate3d(10px, 10px, 10px); }
.main_area .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .bg_opac {opacity: 1;}
.main_area .swiper-container .swiper-wrapper .swiper-slide-active .main_intro strong  {letter-spacing: -0.2rem; font-size: 60px; display: block; line-height: 1.4;}
.page_control {position: fixed; bottom: 30px; right: 30px; z-index: 9;}
.page_control span {color: #fff; outline: none; cursor: pointer; display: inline-block; vertical-align: middle;}
.page_control i {display: inline-block; width: 80px; height: 1px; background: #fff; vertical-align: middle; margin-left: 35px; }
.txt02 i{display: inline-block;}

/* 꽃중년 */
.section11{position: relative; width: 100%; height: 100%;}
.section11 .bg{position:absolute; top: 0; left: 0;  width: 100%; height: 100vh;}
.main_area .swiper-container .swiper-wrapper.flower .swiper-slide.prototype_device{background: transparent;}
.main_area .swiper-container .swiper-wrapper .swiper-slide.section11 .center{display: flex; justify-content: space-between; align-items: center; width: 100%; margin: 0 auto;}
.explain_txt{ display: block; width:40%; float: left; padding: 10px 20px;}
.explain_txt h2{ font-size: 50px; line-height: 1.6; font-weight: 700;}
.explain_txt p{font-size: 18px; line-height: 1.6; }
.desktop{display: block;}
.explain_img{float: right; width: 60%; height: 50vh;  overflow: hidden; position: relative; }
.explain_img .swiper.flower{width: 100%; height: 100%; display: block;}
.explain_img .img{ display: flex; align-items: center; justify-content: center; position: absolute; top:0; height: 50vh;}
.explain_img .img img{display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 30px; }
.main_area .section11 .swiper-wrapper.flower>.swiper-slide{position: relative;}
.main_area .section11 .swiper-wrapper.flower .information{display: flex; flex-direction: column; justify-content: center; width: 100%; position:absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  z-index: 1; opacity: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); transition: all .3s; visibility: hidden; text-align: center;}

.flowers {
  position: absolute;
  bottom: 0; left: 0;
  width: 100px;
  height: 100px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;}

  .flower-box { width: 100%;}
  img.flower { width: 100%; will-change: transform; transform-origin: center bottom; /*  // rotate 기준을 bottom 으로 */}
/* // css ver */
.flower-css {animation: swaying-flower 3s infinite ease-in-out;}
@keyframes swaying-flower {
  0% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}

.line_hei{line-height: 2;}

@media (hover: hover) {
  .main_area .prev_btn:hover:before, .main_area .next_btn:hover:before{ width: 100%;}
.main_area .prev_btn:hover:before, .main_area .next_btn:hover:before{ width: 100%;}
a:hover{text-decoration:none}
#u_skip a:hover{z-index:10; width:100%;height:auto;padding:10px 0;color:#fff}
.menu_btn:hover span { width: 40px;}
.menu_btn:hover span:nth-child(2):after { opacity: 1; bottom: -20px;}
.main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide:hover .information{opacity: 1; visibility: visible;}
.main_area .section11 .swiper-wrapper.flower>.swiper-slide:hover .information{opacity: 1; visibility: visible;}
.button--tamaya:hover::before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button--tamaya:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--tamaya:hover > span {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* b */
.a img:hover { filter: drop-shadow(0 0 2em #61dafbaa);}
.react img:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.react img:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

}

/* React */
.main_area>.swiper-container>.swiper-wrapper>.react.swiper-slide-active{background:  rgba(0, 0, 0, 0.7);}
.react img{display: flex;
  margin: 0 auto 30px;
  justify-content: center;
height: 6em;
padding: 1.5em;}
.react h2{cursor: pointer; font-size: 40px; color: #00bfff; margin: 0 auto 30px; font-weight: 800;}
.react .btn_container{display: flex; flex-direction: column; justify-content: center; flex-wrap: wrap;    align-items: center; gap: 10px; }
.react a{background: #00bfff; color: #fff; padding: 10px 20px; border-radius: 5px; font-size: 18px; display: inline-block; width: 30%;}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  header{width: 100%;}
  header .header{position: fixed; z-index: 11; top: 0; left: 0; width: calc(100% - 40px); margin: 0 auto; display: flex;}
  main>.swiper-container{width: 100%;}
  .main_area .swiper-container .swiper-wrapper .swiper-slide .main_intro .txt02 strong{font-size: 40px;}

  /* 꽃 중년  */
  .explain_txt{width: 100%; display: block; margin: 0 auto 30px; float: none; }
  .explain_txt h2{font-size: 40px;}
  .explain_txt p:not(.desktop){width: 100%; display: block;}
  .desktop{display: none;}
  .explain_img{width: 100%; display: block;float: none;}
  .main_area .swiper-container .swiper-wrapper .swiper-slide.section11 .center{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; display: block; text-align: center; margin: 0 auto;}

  /* hover  */
  .main_area .section11 .swiper-wrapper.flower>.swiper-slide .information,
  .main_area .section03 .main_intro_wrap .cafe24_responsive_box .mySwiper.cafe24 .swiper-wrapper .swiper-slide .information{opacity: 1; visibility: visible;}
  .react img{margin: 0 auto 10px;}
  .react h2{font-size: 30px;}


}

@media screen and (max-width: 767px){
  /* aside */
  .aside nav .nav_inner>li>a{font-size: 18px;}
  .aside nav .nav_inner>li .sub_menu ul li>a{font-size: 16px;}
  .main_area .main_intro .txt02 strong{font-size: 30px;}


}