@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('font/MapoFlowerIslandA.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range:U+AC00-D7A3,U+0030-0039,U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}


@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('font/MapoFlowerIsland.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range:U+AC00-D7A3,U+0030-0039,U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range:U+AC00-D7A3,U+0030-0039,U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'MapoFlowerIsland';
  src: url('font/MapoFlowerIsland.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  unicode-range:U+AC00-D7A3,U+0030-0039,U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family:"Bodoni Moda", serif;
  src: url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
  unicode-range:  U+0061-007A, U+0041-005A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;color: inherit; cursor: pointer;}
button{margin: 0; padding: 0; border: none; outline: none; background: transparent; cursor: pointer;}
img{image-rendering: pixelated; display: block; width: 100%; object-fit: cover;}
.clear{display: block; content: ''; clear: both;}
.inner{ position: relative; max-width: 1520px;  width: 100%; margin: 0 auto;}
.none{display: none;}
body, html{width: 100%; height: 100%; line-height: 1;font-family: 'MapoFlowerIsland',"Bodoni Moda", serif; overflow-x: hidden;
  display: block;
  margin: 0 auto;
  font-size: 14px;}
  body{overflow-x: hidden; min-width: 360px; width: 100%; } 
body *{box-sizing: border-box;}

header .header {
  position: relative;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
  display: block;
  width: 100%;
  height: 90px;
  z-index: 20;
}
header .header .inner{height: 100%;}

/* 좌측 햄버거*/
.header .hamburger {
  position: absolute;
  width: 30px; height: 20px; cursor: pointer;
  top: 50%; 
  transform: translatey(-50%);
  left: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header .hamburger>.header_m {
display: block;
  width: 100%;
  margin-bottom: 5px;
  height: 1px;
  background: #000;
}

.header .hamburger>.header_m:last-child {
  margin-bottom: 0;
}

/* on 붙을 시 */
/* on class가 붙을 시 2th bar 사라지고,  1st 3rd bar 회전하며 X  */
.hamburger.on .header_m:first-child {
  transform: translateY(10px) rotate(-45deg);
  transition: all .5s;
}

.hamburger.on .header_m:nth-child(2){
  opacity: 0;
  transition: all .5s;
}

.hamburger.on .header_m:last-child {
  margin-bottom: 0;
  transition: all .5s;
  transform: translateY(-10px) rotate(45deg);
}

.header .logo{
  transform: translate(-50%, -50%);
  position: absolute; cursor: pointer;
  top: 50%;
  left: 50%;
  width: 175px;
  z-index: 10;
  display: block;
}

.header .hd_icon { cursor: pointer;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
}

#left_menu {
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  right: 0;
  background: #81d8d0;
  height: 100vh;
  z-index: 9999;
  top: 0;
  left: -100%;
  bottom: 0;
  color: #fff;
  text-align: left;
  display: block;
  transition: all .5s;
  animation: fadeInFromNone 0.7s ease-out;
}

@keyframes fadeInFromNone {
  from {
    width: 0%;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

#left_menu .rm_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 90px;
  width: 90%;
}

#left_menu .rm_icon .close_btn {
  cursor: pointer;
  border: 0;
  color: #000;
  transition: all 0.5s;
  width: 40px;
  display: block;
}

#left_menu .rm_icon .close_btn>span {
  display: block;
  height: 2px; border-radius: 3px;
  margin-bottom: 5px;
  background: #000;
}

#left_menu .rm_icon .close_btn>span:nth-child(1) {
  transform: translateY(0px) rotate(-45deg);
}

#left_menu .rm_icon .close_btn>span:last-child {
  margin-bottom: 0;
  transform: translateY(-8px) rotate(45deg);
}

#left_menu .rm_icon .logo.bg_f {
  width: 200px;
  height: 50px;
  display: block;
}

#left_menu .rm_icon .hd_fff {
  right: 0;
  top: 50%;
  transform: translatey(-50%);
  background: #000;
  position: absolute;
  margin-right: 15px;
}

#left_menu .aside {
  overflow: hidden;
  width: 90%; margin: 0 auto;
  padding-top: 120px;
  min-height: 550px;
}

#left_menu .aside .menu {
  float: left;
  width: 50%;
}

#left_menu .menu .menu_li {
  color: #fff;
  margin: 1px auto;
  font-size: 50px;
  display: block;
  line-height: 1.5;
}

.menu_date {
  display: block;
  font-size: 13px;
  color: #000;
  text-align: left;
  position: absolute;
  bottom: 25%;
  left: 50%;
}

.right_txt {
  text-align: left;
  height: 100%;
  float: right;
  cursor: pointer;
  width: 50%;
  color: #000;
}

.right_txt .rt_1st_wrap {
  overflow: hidden;
  width: 100%;
  display: block;
}

.right_txt .rt_1st_wrap .rt_1st {
  float: left;
  width: 50%;
  cursor: pointer;
  margin-bottom: 55px;
}

.right_txt .rt_1st_wrap .rt_1st.se {
  float: right;
  width: 40%;
}

.right_txt .rt_1st_wrap .rt_1st>p {
  font-size: 21px;
  display: block;
  font-weight: bolder;
  margin-bottom: 10px;
}

.right_txt .rt_1st_wrap .rt_1st>span {
  font-size: 15px;
  display: block;
  cursor: pointer;
}

.rt_btn {
  font-size: 21px;
  border-bottom: 1px solid #000;
  margin-bottom: 115px;
  display: inline-block;
  cursor: pointer;
}

.rt_3rd {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.rt_3rd .fas .fa-heart {
  background: #000;
}

/* 바디 영역 딤드 처리  */
.dimmed_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0,0,0,0.7);
  z-index: 9;
  height: 0;
  opacity: 0;
}

.dimmed_bg.on {
  height: 100%;
  opacity: 1;
}

/* footer */
.footer {font-size: 15px;position: relative;   width: 100%;  background: #000;  color: #636363;padding: 20px 20px 40px; overflow: hidden;}
footer .footer.inner{display: flex; justify-content: center; align-items: center; flex-direction: row;}
footer .footer.inner>div{ text-align: left; line-height: 1.6; padding: 10px; width: calc(33.3% - 10px);}
footer .footer .brand_logo { width: 200px;display: block;}
footer .footer .ft_menu>ul>li {padding: 1% 2%;}
footer .footer .ft_r a { padding: 2%; display: inline-block;}
footer .footer .ft_r .ft_r_p {
  display: inline-block;
  color: #fff;
  background: #81d8d0;
  text-align: left;
  min-width: 20%;
  margin-top: 2%;
}

footer .footer .ft_info>strong {
  font-weight: bolder;
  font-size: 18px;
}

footer .footer .ft_info>a {
  margin-top: 20px;
  display: inline-block;
  padding: 5px 25px 4px;
  color: #fff;
  cursor: pointer;
  background: #81d8d0;
}


@media (hover: hover)  { 
  #left_menu .menu .menu_li:hover {
    color: #000;
    font-weight: bolder;
    opacity: 1;
    transition: all .5s;
  }
  footer .footer .ft_menu>ul>li:hover {
    color: #81d8d0;
    font-weight: bolder;
    transition: all .5s;
    background: #000;
  }
}

@media all and (max-width:1023px) {
  .none{display: block;}
  .inner{padding: 0 30px; margin: 0 auto; height: 100%;}
  header .header{height: 60px; position: fixed; z-index: 99; background: #81d8d0; color: #fff; }
  .header .logo{    height: auto;
    max-width: 100%;
    width: 176px;
}
  #left_menu .aside{padding-top: 60px;}
  .right_txt .rt_1st_wrap .rt_1st>span,
  .right_txt .rt_1st_wrap .rt_1st>span {display: none;}

  #left_menu .aside .menu, 
  .right_txt .rt_1st_wrap .rt_1st.se,
  .right_txt{float: unset; }
  #left_menu .aside .menu{padding: 60px 0;}
  .menu_date{position: unset; bottom: unset; left: unset;}
  footer .footer{padding: 0;}
  footer .footer.inner{font-size: 13px; padding:30px; box-sizing: border-box; }

.brand_logo{width: 50%; margin: 0 auto;}
  footer .footer .ft_menu>ul>li {
    font-size: 15px;
    text-align: left;
    padding: 2%;
  }
  footer .footer.inner>div{width: calc(50% - 30px);}
  footer .footer .ft_r a{padding: 1%;}
  footer .footer .ft_cs .ft_l,
  footer .footer .ft_cs .ft_r{ width: 100%;}
  footer .footer .ft_cs .ft_r{margin: 30px auto 0;}
.logo_wrap{display: none;}
  .info_wrap{display: flex; justify-content: space-between; gap: 20px;}

   footer .footer .info_wrap,
  .ft_bt{width: calc(50% - 15px); 
 font-size: 11px;}

.ft_info strong{font-weight: 800; font-size: 16px; margin: 30px auto 0; display: block;}
.ft_info p{ font-size: 14px; font-weight: 300; margin: 10px auto 30px;}
  footer .footer .ft_cs, .ft_info {margin-left: 0;  width: 100%;}

}

@media screen and (max-width: 900px) {
  #left_menu .menu .menu_li>a {
    font-size: 32px;
  }

  .right_txt .rt_1st_wrap {
    overflow: hidden;
  }
}
@media screen and (max-width: 860px) {
}
@media screen and (max-width: 780px) {
  #left_menu .rm_icon .logo.bg_f {
   display: none;
  }
  .right_txt {
    display: none;
  }
  #left_menu .aside .menu {
    width: 100%;
    padding-top: 0;
  }

  #left_menu .aside .menu .menu_ul .menu_li>a {
    font-size: 50px;
    text-align: center;
    width: 100%;
  }

  .menu_date {
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
  }

  .rt_btn {
    font-size: 14px;
  }
  footer .footer.inner{flex-direction: column;}
  footer .footer.inner>div{width: 100%;}

  footer .footer .info_wrap, .ft_bt{width: 100%;}
  .info_wrap{display: block;}
}
@media screen and (max-width: 620px) {
  #left_menu .aside .menu .menu_ul .menu_li>a {
    font-size: 46px;
  }

}
