main{ margin: 0 auto;}

main .container_wrap {
  width: 100%;
  margin: 0 auto 100px;
}

main .container_wrap #container1 {
  display: block;
  width: 100%;
  background: #fff;
  color: #000;
  margin: 0 auto;
}

main .container_wrap #container1 .main_vis {
  display: block;
 margin: 0 auto;
 padding: 120px 0;
}

main .container_wrap #container1 .main_vis .main_l {
  width: calc(50% - 30px);
  display: block;
  float: left;
}

main .container_wrap #container1 .main_vis .main_l .main_txt {
  width: 100%;
  display: inline-block;
  padding:0 30px;
}

main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  position: relative; border-radius: 10px;
  padding: 10px 20px;
  background: #81d8d0;
}

main .container_wrap #container1 .main_vis .main_l .main_txt .mt_em {
  width: 100%;
  text-align: left;
  display: inline-block;
  font-size: 6.8vw;
  color: #000;
  border-color: #81d8d0;
  line-height: 1.2;
  font-weight: 500;
}

main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p_1 {
  font-size: 21px;
  line-height: 1.8;
  width: 100%;
  padding-top: 80px;
}

main .container_wrap #container1 .main_vis .main_r {
  width: calc(50% - 30px);
  display: block;
  float: right;
}

.main_vis .main_r .main_img {
  width: 100%;
  max-width: 800px;
}

.main_vis .main_r .main_img>img {
  width: 100%;
  height: 100%;
  display: block; image-rendering: pixelated;
}

 .main_btn {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  min-width: 200px;
  margin: 30px auto 0;
  padding: 20px;
}

.main_r .vertical_txt {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  top: 50%;
  padding: 0 0 10px 0;
  color: #000;
  transform: rotate(-90deg);
  right: 3%;
  line-height: 20px;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

main .container_wrap .main_icon {
  width: 100%;
  bottom: 0;
  min-height: 50px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main .container_wrap .main_icon .triangle {
  position: absolute;
  left: 10%;
  bottom: 15%;
}

main .container_wrap .main_icon .mv_number {
  position: absolute;
  right: 10%;
  bottom: 15%;
  color: #000;
  font-size: 20px;
}

#container2 {
  display: block;
  margin: 0 auto 0;
  width: 100%; overflow: hidden;
  padding: 120px 0 0 0;
  /* position: relative; */
}
.ani_wrap01{width: 100%; margin: 120px auto 0;}
.ani_wrap01 [class^=ani] {
  font-size: 9.8vw;
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
  margin: 20px auto;
  width: 100%;
}

.ani_wrap01 .ani_txt01 {
  transform: translateX(60%);
}

.ani_wrap01 .ani_txt02 {
  transform: translateX(-39%);
}

.ani_wrap01 .ani_txt02 span {
  color: #81d8d0;
  font-weight: 800;
}

#container2 .content {
 display: flex;
 justify-content: space-between; align-items: center;
  width: calc(100% - 60px);
  margin: 0 auto;
}

#container2 .content:nth-child(2) .con1_r {
  width: 50%;
  height: 100%;
}

#container2 .content:nth-child(2) .con1_l ,
#container2 .content .con1_l{
  width: 50%;
}

#container2 .content .con1_r {
  width: 50%;
  position: relative;
  height: 100%;
}

#container2 .con1_txt {
  display: flex; 
  justify-content: center;
  align-items: flex-start; flex-direction: column;
  padding:30px 30px 0 30px; 
}

#container2 .content .con1_txt>h1 {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.03em;
  position: relative;
}

#container2 .content .con1_txt>h1::after {
  width: 1px;
  height: 30px;
  position: absolute;
  content: '';
  background-color: black;
  display: block;
  bottom: -40px;
}

#container2 .content .con1_txt>p {
  font-size: 55px;
  margin-top: 40px;
  letter-spacing: 1.5px;
}

#container2 .content .con1_txt .con1_txt_p1 {
  color: #000;
  position: relative;
  font-size: 15px;
  margin: 30px 0; width: calc(100% - 60px);
  line-height: 2;
}

#container2 .content .con1_txt .con1_btn {
  font-size: 15px;
  background: #000;
  display: inline-block;
  text-align: left;
  color: #fff;
  padding: 3% 6%;
}
#container2 .content .con1_txt .con1_btn>a{display: block;}
main #container3 {
  display: block;
  background: #000;
  width: 100%;
  text-align: center;  
}

#container3 .bk_bg {
  color: #fff;padding: 60px 0;
  display: block; box-sizing: border-box;
  width: 100%; 
}

#container3 .bk_bg .bk_tit {
  display: block;
  font-size: 24px;
  color: #fff;
  width: 100%;
}
.bk_bg .bk_tit em{display: inline-block;}
.bk_bg .bk_tit .bk_em {
  margin: 0 auto 30px;
  font-style: italic;
}

.bk_bg .bk_tit .bk_em1 {
  margin: 0 auto 30px;
  padding: 0 30px;
  font-weight: bold;
}

.bk_tit_1 {
  font-weight: bold;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

.bk_tit_1>p {
  font-size: 85px;
  line-height: 1.2;
}

.bk_bg .bk_tit_1 .color_6666ff {
  color: #81d8d0;
}

.bk_bg .bk_img {
  background-color: #000;
  width: 10%;
  display: block;
  margin: 2% auto;
  height: auto;
}

.bk_bg .bk_img>img {
  width: 100%;
  display: block;
  height: 100%;
}

#container3 .bk_btn {
  display: inline-block;
  color: #fff; cursor: pointer;
  border: 1px solid #fff;
  font-size: 15px;
  background: #000; border-radius: 10px;
  padding: 10px 20px;
  margin: 0 auto;
}

#container3 .bk_btn .about_btn {
  display: block;
  min-width: 20%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 2%;
}

/* @media screen and (max-width: 620px){ #container3{}}*/
#conatainer4 {
  width: 100%;
  padding: 120px 30px;
  display: block;
  position: relative;
  z-index: 2;
  background: #fbf9f7;
}

#conatainer4 .prd_tit {
  font-size: 80px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.prd_wrap {
  width: calc(100% - 60px); 
  display: flex; justify-content: center; align-items: flex-start; flex-direction: row; padding: 120px 0;
  overflow: hidden; flex-wrap: nowrap;
  margin: 0 auto;
}

.prd_line.inner{margin: 0 auto 30px; display: flex; justify-content: space-between; align-items: flex-start; padding:0;}

.prd_wrap .prd .prd_img {
  width: 100%;
}

.prd_wrap .prd .prd_img>img {
  width: 100%;
  height: 100%;
  display: block;
}

.prd_wrap .prd .prd_txt {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 40px;
}

.prd_wrap .prd .prd_txt>em {
  margin: 10px auto;
  display: block;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.prd_wrap .prd .prd_txt>p {
  font-size: 35px;
  font-weight: 800;
  line-height: 43px;
}

.prd_wrap .prd .prd_txt>.prd_span {
  font-size: 16px; line-height: 2;
  margin: 25px 0 35px 0;
  letter-spacing: -0.04em;
  display: block;
}

.prd_wrap .prd .prd_txt .prd_btn {
  font-size: 12px;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 3px;
  letter-spacing: 0.07em;
  font-weight: 800;
}

/* web_award */
.web_award,
.web_award .award_r .award_r1,.web_award .award_r .award_r2,
.web_award .award_r .award_r3 {
  display: flex;
  justify-content: space-between; 
  align-items: center; background: #fff;
  margin: 0 auto;
}
.web_award .award_r .award_r2 > .award_r_txt > p{font-weight: 800;}
.web_award{flex-wrap: wrap;  width: 100%; padding: 120px 0; position: relative; z-index: 1;}
.web_award .award_r .award_r1,
.web_award .award_r .award_r2,
.web_award .award_r .award_r3 {width: calc(100% - 30px);}
.web_award .prd_tit{ display: block; width: calc(100% - 30px); text-align: center; margin: 0 auto 60px;}
.web_award .prd_tit p { font-size: 80px;text-transform: capitalize; font-weight: 800;letter-spacing: 1px;}
.web_award .prd_tit span{display: inline-block; font-size: 24px; line-height: 2; margin: 30px auto 0;}

.web_award .inner{display: flex; justify-content: space-between; align-items: center;}

.web_award .award_l,
.web_award .award_r ,
.web_award .award_r .award_r1>.award_r_txt,
.award_r .award_r3>.award_r_txt {width: 50%;  display: block; cursor: pointer;}

.web_award .award_r .award_r1>.award_r_txt>p,
.web_award .award_r .award_r3>.award_r_txt>p {
  font-size: 27px;
  text-align: left;
  font-weight: 800;
  color: #000;
}
.web_award .award_r .award_r1 .award_r_txt>span,
.web_award .award_r .award_r3>.award_r_txt>span,
.web_award .award_r .award_r2>.award_r_txt>span  {
  font-size: 16px;
  display: block; line-height: 1.8;
  margin-top: 20px;
  font-family: 'MapoFlowerIsland',"Bodoni Moda", serif;
}

.web_award .award_r .award_r1>.award_r_img,
.web_award .award_r .award_r3>.award_r_img {
  width: 50%;
  display: block;
}

/* 우측 2번째 줄  */
.web_award .award_r .award_r2 { margin:0 auto; display: flex; justify-content: space-between; align-items: center;width: 100%;}

.award_r .award_r2 > .award_r_txt{padding-right: 30px; width: calc(50% - 30px);}
.web_award .award_r .award_r2 > .award_r_txt > span{line-height: 1.5;}
.web_award .award_r .award_r2>.award_r_img {width: 50%;}

  /* web_award right area img */
  .web_award .award_r .award_r1>.award_r_img, 
  .web_award .award_r .award_r3>.award_r_img,
  .web_award .award_r .award_r2 .award_r_img{position: relative; transition: all .4s; }

.award_r .award_r2>.award_r_txt {
  width: 50%;
  text-align: right;
}

.web_award .award_r .award_r2>.award_r_txt>p {font-size: 30px; line-height: 1.5;}

/* 우측 3번째 줄 */
.web_award .award_r .award_r3 {
  width: 100%;
}
.web_award .award_r .award_r3 .award_r_txt,
.web_award .award_r .award_r1 .award_r_txt {
  width: calc(50% - 30px); padding-left: 30px;
}
@media (hover: hover)  { 
  .main_btn:hover,
  #container2 .con1_btn:hover {
    background: #81d8d0;
    transition: all .3s;
    color: #000;
  }

  /* web_award */
  .award_r_img .hover{position: absolute; top: 0; left:0; visibility: hidden; width: 100%; height: 0; opacity: 0;  transition:opacity .6s; overflow: hidden;}
  .hover span{width: calc(100% - 60px); margin: 0 auto; display: block;}
  .award_r1:hover .hover,
  .web_award .award_r .award_r2:hover .hover,
  .web_award .award_r .award_r3:hover .hover,
  .award_raward_r_txt_img:hover .hover{visibility: visible;  display: flex; justify-content: center; align-items: center; height: 100%;  background: rgb(0,0,0,0.5); opacity: 0.8; font-size: 18px; text-align: left; color: #fff; line-height: 1.5; overflow: visible;}
}

@media screen and (max-width:1360px) {
  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_em {
    font-size: 70px;
  }

  #container2 .content .con1_txt>h1 {
    display: block;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-top: unset;
  }

  #container2 .content .con1_txt>h1::after {
    left: 0;
  }

}
@media screen and (max-width: 1220px) {
  #container2 .content .con1_txt .con1_txt_p1 {
    margin: 20px 0 10px;
  }
  .web_award .prd_tit span{font-size: 18px;}
  #container2 .content .con1_txt>p,
  .web_award .prd_tit p,
  #conatainer4 .prd_tit{font-size: 50px;}
}

@media screen and (max-width: 1200px) {
  #container2 .content .con1_r .con1_txt {padding: 0% 0 0% 5%;}
  .web_award .inner{flex-wrap:wrap;}
  .web_award .award_r .award_r3{margin: 0;}
  
  .web_award .award_l,
  .web_award .award_r,
  .web_award .award_r .award_r1, 
  .web_award .award_r .award_r2, 
  .web_award .award_r .award_r3{width: 100%;}

  .web_award{padding: 120px 0;}
  .web_award .prd_tit span{font-size: 16px;}
}
@media screen and (max-width: 1190px) {
  .bk_tit_1>p {font-size: 90px;}
}
@media screen and (max-width: 1139px) {
  #container2 .content .con1_txt .con1_txt_p1 {
    margin: 20px 0 10px;
  }
  #container2 .content .con1_txt>p {
    font-size: 45px;
  }
}

@media screen and (max-width:1137px) {
  #container2 .content .con1_txt .con1_txt_p1 {
    margin: 20px 0 15px;
  }

  #container2 .content .con1_txt>p {
    font-size: 40px;
  }

  .bk_tit_1>p {
    font-size: 80px;
  }
}
@media screen and (max-width: 1120px) {
  .bk_tit_1>p {
    font-size: 50px;
    line-height: 65px;
  }
}

@media screen and (max-width:1023px) {

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_em {
    font-size: 60px;
    display: block;
    line-height: 0.9;
  }

  #container2 .content .con1_txt>p {
    font-size: 30px;
    line-height: 40px;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p {
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.055em;
  }

  .bk_tit_1>p {
    font-size: 42px;
    margin-top: 5%;
    line-height: 40px;
  }
  .prd_wrap,
  .web_award .award_r .award_r1, 
  .web_award .award_r .award_r2, 
  .web_award .award_r .award_r3{flex-wrap: wrap;}

  .web_award .award_l{margin: 60px auto 60px;}
  .web_award .prd_tit{margin: 0 auto 30px;}
  .web_award .award_r .award_r2 > .award_r_txt > p{font-weight: 300;}
 .web_award .award_r .award_r1>.award_r_img, 
 .web_award .award_r .award_r3>.award_r_img, 
 .web_award .award_r .award_r2 .award_r_img,
 .web_award .award_r .award_r1>.award_r_img{padding: 0; position: relative; overflow: hidden;}

 #container2 .content .con1_l, .web_award .award_r .award_r3 .award_r_txt, #container2 .content .con1_r, .web_award .award_r .award_r1>.award_r_txt, .award_r .award_r3>.award_r_txt, .web_award .award_r .award_r1>.award_r_img, .web_award .award_r .award_r3>.award_r_img, .web_award .award_r .award_r2 .award_r_img, .award_r .award_r2>.award_r_txt{padding: 0;}
  .web_award .award_r .award_r1, .web_award .award_r .award_r3{ width: 100%; }
  .web_award .award_r .award_r1 > .award_r_txt{width: calc(50% - 30px); margin: 0 auto;}
  .hover{display: none;}
  .bk_tit_1>p {
    font-size: 42px;
    margin-top: 10px;
    line-height: 60px;
  }
  footer .award_btn{ margin-top: 0; background: #81d8d0; color: #000;}
  
}
@media screen and (max-width: 900px) {
  main .container_wrap #container1 .main_vis .main_l {
    position: unset;
    text-align: center;
    float: unset;
    width: unset;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt {
    width: 100%;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_em {
    text-align: center;
    font-size: 60px;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p:after {
    display: none;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p_1 {
    padding: 40px 0 40px;
    margin: 0 auto;
    font-size: 18px;
    width: 100%; 
    line-height: 2;
  }

  #container2 .content .con1_txt>h1::after {
    display: block;
    left: 0;
    transform: translateX(-50%);
  }

  main .container_wrap #container1 .main_vis .main_r {
    float: unset;
    margin: 0 auto;
    width: 70%;
  }

  .main_r .vertical_txt {
    top: unset;
    right: unset;
    bottom: 8%;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 780px) {
  main{padding: 60px 0 0 0; margin: 0 auto;}
  main .container_wrap #container1 .main_vis .main_r {
    width: 100%;
  }
  .main_vis .main_r .main_img {
    padding-right: 30%;
  }
  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p_1 {
    font-size: 15px;
    width: 100%;
  }
  .prd_tit {
    font-size: 40px;
  }
  .prd_line.inner{flex-wrap: wrap; gap: 30px;}
  #container2 .content{flex-wrap: wrap;}
  #container2 .con1_txt{justify-content: center; align-items: center; line-height: 2;}

  footer .award_btn,
  #container2 .content .con1_txt .con1_btn,
  .web_award .award_r .award_r3>.award_r_txt>.award_btn, 
  .web_award .award_r .award_r1 .award_r_txt>.award_btn,
  .web_award .award_r .award_r2>.award_r_txt>span,
  .web_award .award_r .award_r1>.award_r_txt>span,
  .web_award .award_r .award_r3>.award_r_txt>span {
    font-size: 14px;
  }

  .web_award .award_r .award_r1>.award_r_txt>p,
  .web_award .award_r .award_r2>.award_r_txt>p,
  .web_award .award_r .award_r3>.award_r_txt>p {
    font-size: 16px; text-align: center; line-height: 2;
    font-weight: 800; margin: 0 auto 30px;
  }

  .web_award .award_r .award_r3 .award_r_txt{width: calc(50% - 30px);}
  #container2 {
    width: 100%;
  }

  #container2 .content .con1_txt>p {
    font-size: 25px;
    line-height: unset;
    line-height: 1.2em;
  }

  #container2 .content .con1_txt .con1_txt_p1 {
    margin: 20px 0 35px;
    position: relative;
  }

  #container3{padding: 60px 0;}
  #container2 .content .con1_txt > p, .web_award .prd_tit p, #conatainer4 .prd_tit{font-size: 40px;}

  #container3 .bk_btn {
    margin-top: 60px;
    font-size: 12px;
    padding: 15px 40px;
    width: unset;
  }

  .web_award .award_r .award_r1,
  .web_award .award_r .award_r3{display: flex; flex-direction: column-reverse;}
  
  #container2 .content .con1_l,
  .web_award .award_r .award_r3 .award_r_txt,
  #container2 .content .con1_r,  
  .web_award .award_r .award_r1>.award_r_txt, 
  .award_r .award_r3>.award_r_txt,  
  .web_award .award_r .award_r1>.award_r_img, 
  .web_award .award_r .award_r3>.award_r_img,
  .web_award .award_r .award_r2 .award_r_img,
  .award_r .award_r2>.award_r_txt {display: block;margin: 0 auto; width: 100%; margin:30px 0; text-align: center;}

  #container2 .content:nth-child(2) .con1_r,
  #container2 .content:nth-child(2) .con1_l {
    float: unset;
    margin: 0 auto;
    width:  100%;
  }

  #container2 .content:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  #container2 .content .con1_r .con1_txt {
    padding: unset;
    margin: 10px auto;
    text-align: center;
  }

  #container2 .content .con1_txt>h1::after {
    left: 50%;
  }

  .bk_tit_1 {
    margin-top: 40px;
  }
  .bk_tit_1>p {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  main .container_wrap #container1 .main_vis .main_l .main_txt {
    width: 100%;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_em {
    font-size: 45px;
  }

  main .container_wrap #container1 .main_vis .main_l .main_txt .mt_p_1 {
    font-size: 15px;
    width: 100%;
  }

  .main_r .vertical_txt {
    font-size: 10px;
    right: -35px;
  }

  main .container_wrap #container1 .main_vis .main_r {
    width: 100%;
  }

  .main_r .vertical_txt {
    right: 1%;
    line-height: 1px;
  }
}
@media screen and (max-width: 560px) {
  .main_r .vertical_txt {
    right: 0;
    line-height: 1px;
  }

  #container2 .content .con1_txt>h1::after {
    display: none;
  }

  #container2 .content .con1_txt>p {
    margin-top: unset;
  }

}
@media screen and (max-width: 530px) {
  #container2 .content .con1_txt .con1_txt_p1 {
    font-size: 11px;
  }
  #container2 .content .con1_txt>p {
    font-size: 18px;
  }
}
