html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body,
html {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}
button{ border: none; background: none; cursor: pointer;  -webkit-appearance: none;appearance: none;padding:unset;  color:unset;}
  input{border: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: top;
	width: unset;
}

@font-face {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-style: normal;
	src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
	unicode-range:U+0020-007E;
  }
  
  @font-face {
	font-family: "Montserrat";
	font-weight: 400;
	font-style: normal;
	src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
	unicode-range:U+0061-007A, U+0041-005A;
  }
  
  /* 전체화면 버튼 */
  /* video{width: 100%;} */
  video::-webkit-media-controls-fullscreen-button {	display: none !important;}
  /* 일시정지, 재생 버튼 */
  video::-webkit-media-controls-play-button {	display: none !important;}
  /* 재생 슬라이드..? */
  video::-webkit-media-controls-timeline {	display: none !important;}
  /* 현재 진행 시간 */
  video::-webkit-media-controls-current-time-display{	display: none !important;}
  /* 전체 시간 */
  video::-webkit-media-controls-time-remaining-display {	display: none !important;}
  /* 음소거 버튼 */
  video::-webkit-media-controls-mute-button {	display: none !important;}
  /* 볼륨 조절 슬라이드 */
  video::-webkit-media-controls-volume-slider {	display: none !important;}
  /* 괄호에 display: none !important; 를 추가하면된다.
  예 ) 전체화면 전환 버튼을 숨긴다. 
  다만 더블클릭으로 전체화면이 되는 기능등은 그대로고 단지 버튼만 없앤다. */
  video::-webkit-media-controls-fullscreen-button {display: none !important;}
  